#wrapper {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 90px;
    background: rgba(232, 222, 248, 0.50);
    color: #000;
    box-sizing: border-box;
    display: flex;
    padding: 72px 0px 56px 0px;
    gap: 40px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.sidebar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #49454F;
    gap: 4px;
    padding-bottom: 12px;
}

.sidebar li .sidebar-active {
    color: #000;
    font-weight: 600;
}

.sidebar-menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.sidebar-text {
    text-align: center;
}

.sidebar-wrap-icon {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    background-color: #e4deed;
    border-radius: 16px;
    cursor: pointer;
}

.sidebar-active-icon {
    background-color: #DAC2FF;
}

.content {
    flex: 1;
    padding-top: 10px;
    padding-left: 36px;
    height: 10000px;
    margin-left: 90px;
}

header {
    padding-bottom: 28px;
    margin-top: 50px;
}

.info {
    display: flex;
}

.info-img {
    width: 160px;
}

.info-img img {
    border-radius: 50%;
    width: 100%;
}

.info-text {
    margin-left: 44px;
    margin-top: 16px;
    color: #000;
}

.info-text-heading {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.info-text-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 0.5; 
}

.content-heading {
    font-size: 24px;
}

.content-wrapper {
    padding: 20px;
    background-color: #F7F2FA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 10px;
    /* margin-right: 40px; */
    width: 84vw;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 80px;
    border: 1px solid #6750A4;
    border-radius: 5px;
    background-color: #FEF7FF;
    box-shadow: 1px 1px 3px rgba(133, 68, 212, 0.6);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.content-box:hover {
    transform: scale(1.05);
}

.content-img {
    width: 40px;
    height: 40px;
    justify-content: center;
    margin-left: 10px;
}

.content-img img {
    width: 100%;
    border-radius: 50%;
}

.content-text {
    font-weight: 400;
    line-height: 0.5;
}

.content-text-heading {
    margin: 16px 0;
    font-size: 16px;
}

.content-text-desc {
    font-size: 14px;
}

.content-img-sub {
    width: 80px;
    height: 80px;
}

.content-img-sub img {
    width: 100%;
    border-radius: 50%;
}
